.border {
	border: 1px solid;
}

.page-contianer {
	min-height: 100vh;
	display: flex;
}

aside {

	max-width: 230px;
	min-width: 230px;
	height: auto;
	background-color: #222d32;
	color: white;
	transition: transform 2s; 
}

header {
	background-color: #3c8dbc;
	height: 50px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: white;
}

header i {
	padding: 18px;
	position: relative;
	cursor: pointer;
}

header i:hover {
	background-color: #367fa9;
}

header .right {
	display: flex;
}

header .right .badge {
	position: absolute;
	top: 9px;
	right: 5px;
	font-size: 10px;
	border-radius: 2px;
	padding: 1px 5px;
	cursor: pointer;
}

header .right .user {
	display: flex;
	align-items: center;
	padding: 0 18px;
}

header .right .user:hover {
	background-color: #367fa9;
}

header .right .user .img-circle {
	height: 25px;
	width: 25px;
}

header .right .user span {
	margin-left: 10px;
}

nav .nav-user {
	padding: 10px;
	display: flex;
}

nav .nav-user img {
	height: 45px;
}

nav .nav-user .nav-user-details {
	padding: 5px 5px 5px 15px;
}

nav .nav-user .nav-user-details p {
	font-size: 13px;
	margin-bottom: 5px;
}

nav .nav-user .nav-user-details a {
	font-size: 12px;
	text-decoration: none;
	color: white;
	font-size: 11px;
}

nav .nav-user .nav-user-details a:hover {
	color: white;
}

nav .nav-user .nav-user-details .green-circle {
	height: 10px;
	width: 10px;
	border-radius: 50%;
	background-color: green;
	display: inline-block;
	margin-right: 5px;
}

nav form {
	margin: 10px;
	height: 35px;
	display: flex;
	position: relative;
}

nav form input {
	height: 35px;
	width: 100%;
	border: none;
	background-color: #374850;
	padding: 14px;
	border-radius: 3px;
	color: #666;
}

nav form input::placeholder {
	color: #999999;
	font-size: 13px;
}

nav form input:focus {
	background-color: white;
	outline: none;
}

nav form i {
	color: #999999;
	position: absolute;
	top: 10px;
	right: 10px;
	cursor: pointer;
}

nav ul {
	list-style: none;
	padding-left: 0px;
}

nav ul li {
	padding: 12px 5px 12px 15px;
	font-size: 13px;
	height: 44px;
	color: #b8c7ce;
}

nav ul .aside-nav-header {
	font-size: 11px;
	color: #4b646f;
    background: #1a2226;
    height: 37px;
}

nav ul .aside-nav-float {
	display: flex;
	justify-content: space-between;
	
}

nav ul .aside-nav-float i {
	width: 20px;
}

nav ul .aside-nav-float .nav-margin {
	margin-right: 8px;
}

nav ul .aside-nav-float .badge {
	margin-right: 2px;
	border-radius: 5px;
	font-size: 10px;
	font-style: normal;
	width: auto;
}

nav ul .aside-nav-float .nav-arrow {
	font-size: 10px;
	display: flex;
    align-self: center;
}

nav ul .hov:hover {
	color: white;
    background: #1e282c;
    cursor: pointer;
}

main {
	background-color: #ecf0f5;
	
}

main .box {
	height: 90px;
	font-size: 20px;
	text-align: center;
	line-height: 73px;
	background-color: white;
	margin: 10px 0;
}

.logo {
	height: 50px;
	color: white;
	background-color: #367fa9;
	font-size: 20px;
    line-height: 50px;
    text-align: center;
}

.row {
	margin-bottom: 8px;
}

.main-container {
	flex-grow: 1;
}

.icon-container {
	width: 90px;
	float: left;
	background-color: rgba(255,0,0,0.3);
}

.icon-container i {
	color: white;
	font-size: 45px;
	padding-top: 21px;
}

.icon-container-blue {
	background-color: #00c0ef;
}

.icon-container-red {
	background-color: #dd4b39;
}

.icon-container-green {
	background-color: #00a65a;
}
.icon-container-orange {
	background-color: #f39c12
}

.text-container {
	line-height: 20px;
	font-size: 14px;
}

.text-container p {
	text-indent: 10px;
	margin-top: 10px;
	text-align: left;
    font-size: 14px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.text-container h4 {
	text-align: left;
	text-indent: 10px;
	white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 700;
}

.section {
	border-radius: 3px;
    background: #ffffff;
    border-top: 3px solid #d2d6de;
    margin-bottom: 20px;

    box-shadow: 0 1px 1px rgba(0,0,0,0.1);

}

.box-header {
	padding: 0 10px;
	border-bottom: 1px solid #f4f4f4;
}

.box-body {
	overflow: auto;
	padding: 10px;
}

.box-body p {
	text-align: center;
}

.graf {
	height: 170px;
	background-color: grey;
	text-align: center;
	color: white;
	font-size: 30px;
}

.progress-text {
	display: flex;
	justify-content: space-between;
}

.progress-text p {
	margin: 0px;
	font-size: 12px;
}

.goal-graf .progress {
	border-radius: 0px;
	-webkit-box-shadow: none;
    box-shadow: none;
    height: 10px;
}

.goal-graf .progress-bar {
	box-shadow: none;
}


main .box-footer {
    padding: 10px;
    display: flex;

}

main .box-footer .description {
	text-align: center;
	margin-bottom: 20px;
	padding: 0 10px;
}

main .box-footer .line {
	border-left: 1px solid #f4f4f4;
	height: 0px;
}

.box-panel-right {
	background-color: #00a65a;
	height: 315px;
	padding: 10px;
 	display: flex;
 	flex-direction: column;
 	justify-content: space-around;
    min-height: 340px;
}

.box-panel-right .box-panel {
	display: flex;
	flex-direction: column;
	margin-bottom: 10px;
}

.box-panel-right .box-panel p {
	margin: 0px;
	color: white;
}

.box-panel-right .box-panel .bar {
	display: flex;
	justify-content: center;
	align-items: flex-end;
	padding: 10px;
}

.box-panel-right .box-panel .bar .line {
	background-color: white;
	margin: 0.5px;
}

.info-box .info-box-bg {
	margin-bottom: 15px;
	display: flex;
}

.info-box .info-box-bg .info-box-icon {
	height: 90px;
	min-width: 90px;
	background: rgba(0,0,0,0.2);
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
	font-size: 45px;
}

.info-box .inner-info-box {
	display: flex;
	flex-direction: column;
	width: 100%;
	color: white;
	overflow: hidden;
}

.info-box .inner-info-box .info-box-text {
	text-transform: uppercase;
	font-size: 14px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 5px 0px 0px 10px;
}

.info-box .inner-info-box .info-box-number {
	text-transform: uppercase;
	font-size: 16px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: bold;
    padding: 5px 0px 0px 10px;
}

.info-box .inner-info-box .slim-progres-bar {
	background: rgba(0,0,0,0.2);
	height: 2px;
	width: 100%;
	margin: 5px 0px 0px 0px;
}


.info-box .inner-info-box .slim-progres-bar .white-progres {
	height: 100%;
	background-color: white;
}

.info-box .inner-info-box .progress-description {
	font-size: 14px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 5px 0px 0px 10px;
}

.chat-container {
	height: 250px;
	overflow: auto;
	font-size: 12px;
	padding: 10px;
}

.chat-container .chat-conatiener-message {
	margin-bottom: 10px;
}

.chat-container .chat-conatiener-message .top-chat-container {
	display: flex;
	justify-content: space-between;
	width: 100%;
	margin-bottom: 2px;
}

.chat-container .chat-conatiener-message .top-chat-container .chat-name p {
	font-weight: 600;
	margin: 0px;
}

.chat-container .chat-conatiener-message .top-chat-container .chat-time p {
	color: #999;
	margin: 0px;
}

.chat-container .chat-conatiener-message .bottom-chat-container {
	display: flex;
	position: relative;
	align-items: center;
}

.chat-container .chat-conatiener-message .bottom-chat-container img {
	border-radius: 50%;
	height: 40px;
	width: 40px;
	align-self: flex-start;
}

.chat-container .chat-conatiener-message .bottom-chat-container .chat-content {
	padding: 5px 10px;
	background: #d2d6de;
	width: 100%;
	border-radius: 5px;
	word-break: break-word;
	height: fit-content;
	margin-top: 4px;
	align-self: flex-start;
}

.chat-container .chat-conatiener-message .bottom-chat-container .chat-content p {
	margin: 0px
}

.chat-container .chat-conatiener-message .bottom-chat-container .chat-content.right-message {
	margin-right: 10px;
	background: #f39c12;
	color: white;
	position: relative;
}

.chat-container .chat-conatiener-message .bottom-chat-container .chat-content.left-message {
	margin-left: 10px;
	position: relative;
}

.chat-container .chat-conatiener-message .bottom-chat-container.right-message .chat-content:after {
	position: absolute;
    left: calc(100% - 7px);
    top: 9px;
	height: 10px;
	width: 10px;
	background: #f39c12;
    content: ' ';
	transform: rotate(45deg);
}

.chat-container .chat-conatiener-message .bottom-chat-container.left-message .chat-content:after {
	position: absolute;
    right: calc(100% - 7px);
    top: 9px;
	height: 10px;
	width: 10px;
	background-color:#d2d6de;
    content: ' ';
	transform: rotate(45deg)
}

.chat-container .chat-conatiener-message .right-message {
	display: flex;
	flex-direction: row-reverse;
}

.chat-input-container {
	border-top: 1px solid #f4f4f4;
	padding: 10px;
	display: flex;
	
}

.chat-input-container input {
	height: 37px;
	width: 100%;
	border: 1px solid #d2d6de;
	border-right: none;
	padding: 10px;
}

.chat-input-container button {
	padding: 6px 12px;
	color: white;
	background-color: #f39c12;
    border: 1px solid #e08e0b;
}

.chat-input-container button:hover {
	background-color:  #e08e0b;
}

.members-list {
	display: flex;
	width: 100%;
}

.members-list .member-row {
	width: 100%;
	height: 200px;
}

.members-list .member{
	padding: 10px;
	text-align: center;
	overflow: hidden;
}

.members-list .member img {
	border-radius: 50%;
	max-width: 100%;
	height: auto;
	width: 128px;
}

.members-list .member .member-details a {
	display: block;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	text-decoration: none;
	font-weight: 600;
	color: #444;
	font-size: 13px;
	margin-top: 5px;
}

.members-list .member .member-details a:hover {
	color:#999;
}

.members-list .member .member-details p {
	color: #999;
	font-size: 11px;
	margin: 0px;
}

.more-members {
	border-top: 1px solid #f4f4f4;
	text-align: center;
	padding: 10px;
}

.more-members a {
	font-size: 13px;
	color: #3c8dbc;
}

.more-members a:hover {
	color: #72afd2;
	text-decoration: none;
}
